# Node
node_modules
npm-debug.log
yarn-error.log

# Environment files
.env
.env.local
.env.*.local

# Git
.git
.gitignore

# Logs
logs
*.log

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Documentation
README.md
docs

# Docker
Dockerfile
docker-compose*.yml
.dockerignore
